// Colors
$white: #fff;
$blue: #4F86C6;
$dark-blue: #3e79be;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaa;
$timestamp-color: #999;
$todo-bg-color-on-hover: #f0f0f0;

// Sizing
$border-radius: 5px;
